/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --button-color: #ff0070;
  --corner-color: #ff0070;
  --title-text-color: #000028;
  --page-background: url(../images/cover-image-dark.png);
  --rec-display: block;
}
