/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --heading-color: #ffc1e6;
  --text-color: #353430;
  --title-text-color: #353430;
  --button-color: #353430;
  --corner-color: #353430;
  --page-background: url(../images/cover-image-light.png);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --heading-color: #ffc1e6;
    --text-color: #353430;
    --title-text-color: #353430;
    --button-color: #353430;
    --corner-color: #353430;
    --page-background: url(../images/cover-image-light.png);
    --rec-display: none;
  }

  :root:not(.theme-dark) .section__title {
    color: var(--title-text-color, #353430);
  }
}

:root.theme-light .section__title {
  color: var(--title-text-color, #353430);
}
